---
title: Aileen Chen
samples:
  - Natasha-Film-AC-14-X
  - matan-2
  - HARPER-TEST-AC-10
  - DEEDEECOMET-TEST-22JUL-AC-14-X
  - ELAENA-TEST-AC-19
  - MIA-COLLECTION-9-AC-08
  - PS-AW25-AC-29-X
  - STUDIO-SUTRAM-AC-43
---

<main>
  <section id="samples">
    {% for imgfilename in page.samples %}
      {% include img.html filename=imgfilename %}
    {% endfor %}
  </section>
  <section id="text">
    <header>
      <h1>Aileen Chen</h1>
      <ul id="services">
        <li>Photography</li>
        <li>Art Direction</li>
        <li>Styling</li>
      </ul>
    </header>
    <ul id="links">
      <li><a href="https://instagram.com/aileenchen___" target="_blank">Instagram</a></li>
    </ul>
    <footer>
      <p id="copyConfirmation"></p>
      <button id="copyEmail" onclick="copyText()" title="Click to copy email address" class="">Enquiries to <br><strong id="email">hi<span class="sans">aileenchen</span><bsp>@gmail.com</strong></button>
    </footer>
  </section>
</main>