// -------
// Fade in
// -------

@keyframes fade-in {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

// -----------------
// Enter from bottom
// -----------------

@keyframes enter-bottom {
  0% {
      transform: translateY(2em);
  }
  100% {
      transform: translateY(0px);
  }
}