@use "mixins" as *;
@use "vars" as *;

// -------------
// Img slideshow
// -------------

#samples {
  --number-of-imgs: #{$number-of-imgs};
  --seconds-per-img: #{$seconds-per-img};
}

  div.imgspace {
    position: absolute;
    opacity: 0;
    animation: slide calc(var(--number-of-imgs) * var(--seconds-per-img)) infinite;
  }

  @for $i from 1 through $number-of-imgs {
    div.imgspace:nth-child(#{$i}) { animation-delay: calc((#{$i} - 1) * var(--seconds-per-img)); }
  }

$partial-percentage: calc(100% / $number-of-imgs);
$second: calc( $partial-percentage / $seconds-per-img );
$fadeout: $partial-percentage + 1%;

@keyframes slide {
  // start invisible
  0% { opacity: 0; animation-timing-function: ease-in; }
  // fade in
  0.01% { opacity: 1; }
  // remain visible for 1/number-of-imgs of the time
  #{$partial-percentage} { opacity: 1; animation-timing-function: ease-out; }
  // fade out
  #{$fadeout} { opacity: 0; }
  // end invisible
  100% { opacity: 0; }
}