@use "mixins" as *;
@use "vars" as *;

// ------
// Resets
// ------

* {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

// --------
// Defaults
// --------

body {
  font-family: var(--ff-sans);
  line-height: 1.5;
  color: var(--fg);
  background-color: var(--bg);
  font-feature-settings: "kern" 1,"liga" 1,"calt" 1,"pnum" 1,"tnum" 0,"onum" 1,"lnum" 0,"dlig" 0;
  font-kerning: normal;
  text-rendering: optimizeSpeed;
  position: relative;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: var(--ac);
  @include transit();
  &:hover {
    color: var(--fg);
    @include transit();
  }
}

  @include reducemotion() {
    a {
      transition: none;
      &:hover {
        transition: none;
      }
    }
  }

@media print {
  body {
    color: black !important;
    background-color: white !important;
    background-image: none !important;
  }
  .no-print {
    display: none;
  }
}

// Images

img {
  max-width: 100%;
  vertical-align: middle;
  color: transparent;
  @include dark {
    filter: contrast(0.8);
  }
}

// Figure

figure {
  break-inside: avoid;
  & > img {
    display: block;
    margin: 0 auto;
  }
  figcaption {
    font-size: var(--f-sml);
    max-width: 100%;
    margin-top: 1em;
  }
}

