@use "mixins" as *;
@use "vars" as *;

main {
  --mobile-max-height: 66dvh;
  --mobile-padding: var(--24);
  position: relative;
}

@mixin wonk {
  transform: rotate(-0.5deg);
}

#samples, #text {
  @include wonk;
}

// =====================
// Sample images gallery
// =====================

#samples {
  width: 99dvw;
  height: var(--mobile-max-height);
  @include query($bp){
    height: 100dvh;
  }
  @include center-all;
  position: relative;
  z-index: 0;
}

  div.imgspace { // this is what we are animating
    width: 100%;
    height: 100%;
    // fit content in desktop mode
    @include query($bp){
      width: fit-content;
      height: fit-content;
    }
    // border
    background-color: var(--grey);
    padding: var(--mobile-padding);  
    @include query($bp){
      padding-top: var(--28);
      padding-bottom: var(--72);
      padding-left: var(--48);
      padding-right: var(--48);
      transform: translateY(-2dvh);
    }
    // drop shadow
    box-shadow: var(--drop);

    // center children elements within
    @include center-all;
  }

  div.imgspace:nth-child(1) { transform: rotate(0.8deg); }
  div.imgspace:nth-child(2) { transform: rotate(-0.5deg); }
  div.imgspace:nth-child(3) { transform: rotate(0.6deg); }
  div.imgspace:nth-child(4) { transform: rotate(-0.4deg); }
  div.imgspace:nth-child(5) { transform: rotate(0.9deg); }
  div.imgspace:nth-child(6) { transform: rotate(-0.4deg); }
  div.imgspace:nth-child(7) { transform: rotate(0.3deg); }
  div.imgspace:nth-child(8) { transform: rotate(-0.5deg); }

    div.imgwrap {
      position: relative;
      &::after {
        content: '';
        inset: 0;
        position: absolute;
        mix-blend-mode: multiply;
        box-shadow: inset 2px 2px 1vmin hsl(0 0% 0% / 3%);
      }
    }
  
    img.sample_img {
      --vw-minus-padding: calc(100dvw - 2*(var(--mobile-padding)));
      --vh-minus-padding: calc(100dvh - 2*(var(--mobile-padding)));
      max-width: var(--vw-minus-padding);
      max-height: min(var(--vh-minus-padding),calc(var(--mobile-max-height) - 2*(var(--mobile-padding))));
      @include query($bp){
        max-width: 50dvw;
        max-height: 75dvh;
      }
    }

// ====
// Text
// ====

@mixin flexy {
  display: flex;
  flex-direction: column;
  @include query($bp){
    flex-direction: row;
  }
}

#text {
  width: 100dvw;
  max-width: calc(1.5 * 720px);
  @include query(720px, 'up', 'height'){
    max-width: 150dvh;
  }
  margin: auto;
  height: auto;
  padding: var(--mobile-padding);
  @include flexy;
  gap: var(--10);
  @include query($bp){
    position: absolute;
    bottom: 0;
    justify-content: space-between;
    height: 25dvh;
    padding: var(--48);
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  z-index: 1; // make sure text is on top of imgs
}

  header {
    @include flexy;
    @include query($bp){
      gap: var(--20);
    }

    @include query($bp2){
      h1::after {
        content: '●';
        margin-left: var(--20);
      }
    }
  }

  #services {
    display: flex;
    flex-direction: column;
    gap: var(--10);

    @include query($bp, 'down') {
      margin: var(--16) var(--24) 0;
    }
  }

  #links {
    @include query($bp, 'down') {
      align-self: flex-end;
    }
    @include query($bp){
      order: 3;
      align-self: center;
    }
    a {
      display: inline-block;
      min-height: var(--28);
      line-height: var(--28);
      &:hover {
        font-weight: 600;
        cursor: url('/img/tri_blue.png'), auto;
        &::after {
          content: '↗︎';
          position: absolute;
          font-size: var(--16);
          font-weight: 400;
          font-family: sans-serif;
        }
      }
    }
  }

  footer {
    position: relative;
    width: fit-content;
    @include query($bp){
      align-self: flex-end;
    }
  }

    button#copyEmail {
      @include reset-button;
      cursor: url('/img/tri_blue.png'), auto;
      padding: var(--10);
      position: relative;
      &:hover::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        padding: var(--12) var(--16) var(--20);
        top: calc(-1 * var(--16));
        left: calc(-1 * var(--16));
        border-radius: 100%;
        outline: 1px solid var(--fg);
        // @supports (mix-blend-mode: difference) {
        //   outline: 1px solid white;
        // }
      }
    }

    button#copyEmail.hideText {
      color: transparent;
    }

    #copyConfirmation {
      display: none;
      position: absolute;
      top: 50%;
      left: 0%;
      width: 100%;
      text-align: center;
      transform: translate(0, -50%);
      @include transit(150ms);
    }
