// ==================
// Mixins & functions
// ==================

// Detect prefers-reduced-motion
@mixin reducemotion() {
  @media only screen and (prefers-reduced-motion) {
    @content
  }
}

// Media queries
// defaults to screen width detection, mobile first
@mixin query($breakpoint, $type: 'width', $direction: 'up') {
  @if $type == 'height' {
    @if $direction == 'down' {
      @media (max-height: $breakpoint) {
        @content;
      }
    } @else {
      @media (min-height: $breakpoint) {
        @content;
      }
    }
    
  } @else {
    @if $direction == 'down' { 
      @media (max-width: $breakpoint) {
        @content;
      }
    } @else {
      @media (min-width: $breakpoint) {
        @content;
      }
    }
  }
}

// Transition
@mixin transit($property: all, $duration: 100ms, $timing: ease-out) {
  transition: $property $duration $timing;
  @include reducemotion {
    transition: none;
  }
}

// ------
// Resets
// ------

@mixin reset-button() {
  border: none;
  background: transparent;
  color: inherit;
  cursor: pointer;
}

@mixin reset-input() {
  appearance: none;
  border: none;
  background: transparent;
  color: inherit;
}

@mixin reset-fieldset() {
  border: none;
  margin: 0;
  padding: 0;
}

// -----------------
// Reusable snippets
// -----------------

// Pseudo elements
@mixin pseudo {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}

// Reset origin
@mixin anchor-position {
  position: relative;
}

// Fast center
@mixin center-all {
  display: grid;
  place-items: center;
}