@use "mixins" as *;
@use "vars" as *;

main {
  font-family: var(--ff-mono);
  font-size: var(--12);
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

#services, #links {
  list-style: none;
}

header {
  letter-spacing: 0.3em;
}

  h1 {
    font-size: var(--12);
    font-family: var(--ff-sans);
  }

  #services {
    font-weight: 500;
    letter-spacing: 0.5em;
  }

#links {
  font-size: var(--10);
  font-weight: 300;
}

footer {
  font-weight: 400;
  font-size: var(--10);
  @include query($bp) {
    text-align: right;
  }
}

  #copyEmail {
    text-align: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    font-size: inherit;
    font-family: inherit;
  }

  #email {
    font-weight: 600;
    letter-spacing: 0.5em;
  }
  span.sans {
    font-family: var(--ff-sans);
  }