@use "mixins" as *;
@use "vars" as *;

main {
  font-family: var(--ff-sans);
  font-size: var(--10);
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

#services, #links {
  list-style: none;
}

header {
  font-size: var(--12);
}

  h1 {
    font-weight: 800;
    font-size: inherit;
  }

  #services {
    font-weight: 500;
  }

#links {
}

footer {
  font-weight: 400;
  @include query($bp) {
    text-align: right;
  }
}

  #copyEmail {
    text-align: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: 3ch;
  }

  span.sans {
    font-family: var(--ff-sans);
    font-weight: 600;
  }