// ================
// Global variables
// ================
@use 'sass:color';
@use "mixins" as *;

// -----
// Sizes
// -----

// Breakpoints

  $bp: 680px;

  $bp-sml: 340px;
  $bp-med: 680px;
  $bp-lrg: 960px;
  $bp-xlg: 1280px;
  $bp-xxl: 1600px;
  $bp-2k:  2000px;

// Misc. sizes

:root {
  --4:   0.25rem;
  --8:    0.5rem;
  --10: 0.625rem;
  --11: 0.688rem;
  --12:  0.75rem;
  --14: 0.875rem;
  --16:     1rem;
  --20:  1.25rem;
  --22: 1.375rem;
  --24:   1.5rem;
  --28:  1.75rem;
  --32:     2rem;
  --36:  2.25rem;
  --40:   2.5rem;
  --48:     3rem;
  --56:   3.5rem;
  --64:     4rem;
  --72:   4.5rem;
  --96:     6rem;
  --128:    8rem;
}

// -------
// Colours
// -------

  :root {
    --fg: black;
    --bg: white;
    --ac: #1325E7; // accent colour
    --fc: #E0F925; // focus colour
    --grey: #FAFAFA;

    // shadows

    --drop: 2px 3px 1vmax hsl(0 0 33% / 5%), 0 0 3px hsl(0 0 0% / 10%);
  }

// ----------
// Typography
// ----------

// Font families
  :root {
    --ff-sans: "Helvetica", "Helvetica Neue", "Inter", "Arial", sans-serif;
    --ff-mono: "Sono", "Courier Prime Sans", "Roboto Mono", monospace;
    --ff-serif: "New York", "Adobe Garamond Pro", "Adobe Garamond", "EB Garamond", Garamond, serif;
  }
