// ================
// Global variables
// ================
@use 'sass:color';
@use "mixins" as *;

// -----
// Sizes
// -----

// Breakpoints

  $bp-sml: 340px;
  $bp-med: 680px;
  $bp-lrg: 960px;
  $bp-xlg: 1280px;
  $bp-xxl: 1600px;
  $bp-2k:  2000px;

// Misc. sizes

:root {
  --4:   0.25rem;
  --8:    0.5rem;
  --10: 0.625rem;
  --11: 0.688rem;
  --12:  0.75rem;
  --14: 0.875rem;
  --16:     1rem;
  --20:  1.25rem;
  --22: 1.375rem;
  --24:   1.5rem;
  --28:  1.75rem;
  --32:     2rem;
  --36:  2.25rem;
  --40:   2.5rem;
  --48:     3rem;
  --56:   3.5rem;
  --64:     4rem;
  --72:   4.5rem;
  --96:     6rem;
  --128:    8rem;
}

// -------
// Colours
// -------

// Raw values

// Semantic values

  :root {
    --fg: black;
    --bg: white;
    --ac: blue; // accent colour
    --fc: yellow; // focus colour
  }

  @include dark { :root {
    --fg: white;
    --bg: black;
    --ac: lightblue; // accent colour
    --fc: yellow; // focus colour
  }}

// ----------
// Typography
// ----------

// Font families

  :root {
    --ff-sans: -apple-system, BlinkMacSystemFont, "SF Pro Text", "Helvetica Neue", "Helvetica", 
      "Arial", "Roboto", "Ubuntu", "Segoe UI", "Fira Sans", "Droid Sans", sans-serif;
    --ff-serif: "New York", "Adobe Garamond Pro", "Adobe Garamond", "EB Garamond", Garamond, serif;
  }